
@import "ember-bootstrap/bootstrap";

// Exp and Lookit
@import "components/exp-video-config";
@import "components/exp-video-config-quality";
@import "components/exp-lookit-mood-questionnaire";
@import "components/exp-lookit-instructions";
@import "components/exp-lookit-exit-survey";
@import "components/exit-warning";
@import "full-screen";
@import "components/radio-group";
@import "components/exp-lookit-video";
@import "components/exp-lookit-video-consent";
@import "components/exp-lookit-video-assent";
@import "components/exp-lookit-survey";
@import "components/exp-lookit-observation";
@import "components/exp-lookit-webcam-display";
@import "components/exp-lookit-image";
@import "components/exp-lookit-change-detection";
@import "components/radio-group";
@import "components/exp-lookit-stimuli-preview";
@import "components/exp-lookit-calibration";
@import "components/exp-lookit-start-stop-recording";
@import "components/exp-lookit-instruction-video";
//Game study css
@import "components/exp-lookit-games";

#experiment-player {
    font-size: large;
    background-color: #FFFFFF !important;
}

.exp-text-large {
    font-size: 2em;
}
.exp-text-medium {
    font-size: 1.5em;
}
.exp-text-heavy {
    font-weight: 750;
}

.breaklines {
    white-space: pre-wrap
}

.exp-controls {
    margin: 5px;
}

.exp-text {
    margin: auto;
    max-width: 65em;

    img {
        max-width: 100%;
        display: block;
        margin: auto;
    }
}

.vertical-pad, .vertical-pad-md {
    height: 8vh !important;
}

.vertical-pad-sm {
  height: 4vh !important;
}

.vertical-pad-xs {
  height: 2vh !important;
}

.center-text {
    text-align: center;
}

.modal-dialog {
    width: 80%;
}

.break-line {
  white-space: pre-line;
}

// Pad next button so it's not awkwardly flush at bottom of page
#nextbutton {
    margin-bottom: 3em;
}

// Don't show the 'powered by Pipe' link on video recorder
p#pipeClickPowered {
    display:none;
}

// Size the Pipe video ourselves, don't rely on fixed size that needs to be
// handed to it
.lookit-video-recorder, .lookit-video-recorder > div, .lookit-video-recorder video.pipeNormal, .lookit-video-recorder video.pipeSmallNormal {
    height: 100% !important;
    width: 100% !important;
}

// Make sure the microphone symbol and meter show up even if aspect ratio is such that
// bottom border of area is black
.lookit-video-recorder .pipeMicIconNoMenu {
    background-color: gray;
    padding: 2px;
}

// Pipe video recorder div formatting
.recorder-container {
    height: 30vh;
    margin: 0px;
}

.recorder-container #recorder {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: auto;
}

.video-recorder-hidden {
    top: -10000px;
    left: -10000px;
    z-index: -1;
    position: absolute;
}


/* PARTICIPATE */
#expContainer:fullscreen {
    width: 100vh;
    height: 100vh;
    padding: 25vw;
}

#expContainer.player-fullscreen {
    width: 100%;
    height: 100%;
}

#expContainer {
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}

.btn {
    font-size: large;
}

div.lookit-frame {
    > div.infant-control-mixin-looking-away {
        border: 10px dashed gray;
    }
    > div.infant-control-mixin-looking {
        border: 10px solid green;
    }
}

.video-record-mixin-wait-for-video, .pause-unpause-mixin-cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none; // Initially hidden, only show if we actually use it!

    .video-record-mixin-image, .pause-unpause-mixin-image {
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 25%;
        height: 30%;
    }

  .video-record-mixin-wait-for-video-text, .pause-unpause-mixin-text {
        font-size: 2em;
        text-align: center;
        top: 65%;
        position: absolute;
        left: 0;
        right: 0;
    }

}