.player-fullscreen {
    width: 100%;
    height: 100%;
    background-color:#FFFFFF;
}

.player-fullscreen-override {
    overflow: scroll;
}



#experiment-player.player-fullscreen, #experiment-player.player-fullscreen * {
    // blank cursor (1px transparent image)
    cursor: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7), none;
}

#fsButton {
    z-index: 999;
    position: absolute;
    margin-top: 25vh;
    width: 100%;
    font-size: 2em;
    display: none;
}


#experiment-player.player-fullscreen div.lookit-frame {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: table;

  > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

#experiment-player.player-fullscreen   {
  > div, > div > div, > div > div > div {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .lookit-frame {
      display: table;

      > div {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      }
  }
}