<div class="row exp-text">
    <div class="vertical-pad"></div>
    <div class="col-md-8 col-md-offset-2">
        {{#each blocks as |prompt|}}
            {{exp-text-block block=prompt}}
        {{/each}}
        <br>
    </div>
</div>
<div class="row exp-controls">
    <div class="col-md-12">
        {{#if showPreviousButton}}
            <button class="btn btn-default pull-left" {{ action 'previous' }} > Previous</button>
        {{/if}}
        <button id="nextbutton" class="btn btn-success pull-right" {{ action 'next' }} > Next</button>
    </div>
</div>
