coverage
dist
docs
tmp
tests/*
themes/*
package.json
bower.json
testem.js
ember-cli-build.js
config/environment.js
bower_components
node_modules
blueprints
lib
dist
examples
vendor
app/locales
helpers.js
