<div class="row exp-my-frame-name">
  <!-- Content goes here. Make sure you give all content in your frame a unique class
  and target your CSS to that class
  (see https://lookit.readthedocs.io/en/develop/frames.html#adding-css-styling)-->

  <!-- If using video recording mixin, include: (remove video-recorder-hidden class as appropriate)
      <div class="row recorder-container video-recorder-hidden">
        <div id="recorder" class="col-xs-12">
        </div>
    </div>
  -->

  <div class="row exp-controls">
      <!-- Example: next/previous controls. Modify as appropriate -->
      <div class="btn-group">
        <button class="btn btn-default" {{ action 'previous' }} > Previous </button>
        <button class="btn btn-default pull-right" {{ action 'next' }} > Next </button>
      </div>
  </div>

</div>


