<div class="center-text">
    <span class="exp-text-medium">
        Lookit project, MIT Early Childhood Cognition Lab: Video Release Form
    </span>
</div>

<br>
<div class="video-consent-body">

    <p>
        This audio-video footage and extracted still images may be used for educational and publicity purposes by Lookit and may be publicly displayed and distributed in printed materials, web-based materials, and audiovisual presentations. The audio-video footage may be edited for length of run time but will not be otherwise altered.
    </p>

    <p>
        My name and institutional affiliation may be reported in association with the video footage. This release does not expire. I have had the opportunity to save this release form for my records.
    </p>

</div>