.exit-warning-btn {
    margin-left: 5px;
    margin-right: 5px;
}
.exit-warning .checkbox {
    margin: 3px;
}
.exit-warning input[type="radio"] {
    height: 12px;
}
.exit-warning textarea {
    width: 100%;
}
