$exp-alternation-cal-width: 12%;
$exp-alternation-left-rect: 18.75%;
$exp-alternation-right-rect: 81.25%;

.exp-lookit-geometry-alternation #allstimuli, #experiment-player.player-fullscreen .exp-lookit-geometry-alternation #allstimuli {
    overflow:hidden;
    width: 100vw;
    height: 56.25vw; /* 100/56.25 = 1.778 */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}


.exp-lookit-geometry-alternation, .exp-lookit-geometry-alternation *
{
    margin:0;
    padding:0;
}

.exp-lookit-geometry-alternation video.attn {
    margin:auto;
    max-height: 30%;
}

.exp-lookit-geometry-alternation .pause-instructions {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.exp-lookit-geometry-alternation button {
    margin-left: auto;
    margin-right: auto;
    min-height: 75px;
    min-width: 300px;
    position: relative;
    display: block;
    font-size: 2em;
    padding: 10px;
    height: 10%;
    width: 30%;
}

.exp-lookit-geometry-alternation #player-calibration-video {
    width: $exp-alternation-cal-width;
    max-height: 300px;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.exp-lookit-geometry-alternation #player-calibration-video.center {
    margin-left: 50% - $exp-alternation-cal-width/2;
}

.exp-lookit-geometry-alternation #player-calibration-video.left {
    margin-left: $exp-alternation-left-rect - $exp-alternation-cal-width/2;
}

.exp-lookit-geometry-alternation #player-calibration-video.right {
    margin-left: $exp-alternation-right-rect - $exp-alternation-cal-width/2;
}

#experiment-player:not(.player-fullscreen) .exp-lookit-geometry-alternation video {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 50%;
    max-width: 250px;
    position: relative;
    display: block;
}

#experiment-player:not(.player-fullscreen) .exp-lookit-geometry-alternation #alternation-container {
    overflow:hidden;
    width: 100vw;
    max-height: 56.25vw; /* 100/56.25 = 1.778 */
    margin: auto;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

#experiment-player:not(.player-fullscreen) .exp-lookit-geometry-alternation #allstimuli {
    width:100%;
}
