.exp-lookit-mood-questionnaire {

    .radio.block, .checkbox {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 20px;
    }

    .timepicker input {
        width: 30%;
    }


    .row.body {
        display: table;
        width: 100%;
    }

    .left-side {
        float: none;
        display: table-cell;

        min-width: 8em;
        color:green;
    }

    .right-side {
        float: none;
        display: table-cell;
    }

    input[type='radio'] {
      min-width: 20px;
      min-height: 20px;
    }

    .radio-group-label {
      padding: 0;
      margin: 0;
    }

    .radio-group-label:hover {
      background-color: #ccc;
      border-radius: 5px;
    }

    // Arrange left/right labels for radio groups

    .exp-lookit-mood .alpaca-control-label.radio-label {
        font-weight: normal;
    }

    .radio-group .label-left {
        text-align: right;
        min-width: 7em;
        margin: 0px;
    }

    .radio-group .label-right {
        text-align: left;
        margin: 0px;
    }


}
