$exp-lookit-story-page-AR: 2; // aspect ratio of story page, width:height

$exp-lookit-story-page-side-margin: 2; // in vw
$exp-lookit-story-page-top-margin: 2; // in vh
$exp-lookit-story-page-controls-height: 25; // in vh
$exp-lookit-story-page-parent-text-color: #f8f3bf;

$exp-lookit-story-page-width: (100 - 2*$exp-lookit-story-page-side-margin) * 1vw;
$exp-lookit-story-page-height: (100 - $exp-lookit-story-page-top-margin - $exp-lookit-story-page-controls-height) * 1vh;

.exp-lookit-story-page, .exp-lookit-story-page *
{
    margin:0;
    padding:0;
}

#exp-lookit-story-page-container, #experiment-player.player-fullscreen #exp-lookit-story-page-container {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

.exp-lookit-story-page #story-area, #experiment-player.player-fullscreen .exp-lookit-story-page #story-area {
    background-color: white;
    overflow:hidden;
    position: fixed;
    width: $exp-lookit-story-page-width;
    height: 1/$exp-lookit-story-page-AR * $exp-lookit-story-page-width;
    max-height: $exp-lookit-story-page-height;
    max-width: $exp-lookit-story-page-AR * $exp-lookit-story-page-height;
    margin: auto;
    margin-top: 0; top: $exp-lookit-story-page-top-margin * 1vh;
    left:0;right:0; /* horizontal center */
}

.exp-lookit-story-page div.story-image-container,  #experiment-player.player-fullscreen div.story-image-container {
    position: absolute;
    display: block;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    border:5px solid transparent; // to avoid rearranging upon adding the highlight
}

.exp-lookit-story-page img.story-image {
    max-width: 100%;
    max-height: 100%;
    vertical-align: center;
    margin: auto;
}

.exp-lookit-story-page .story-image-container.highlight,  #experiment-player.player-fullscreen .exp-lookit-story-page .story-image-container.highlight  {
    border: 5px solid green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.exp-lookit-story-page * {
    cursor: auto !important;
}

.exp-lookit-story-page #story-controls button, #experiment-player.player-fullscreen .exp-lookit-story-page #story-controls button {
    display: inline-block;
    position: fixed;
    padding: 0px; margin: 0px;
    font-size: x-large;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    min-height: 50px;
    bottom: 2vh;
    height: $exp-lookit-story-page-controls-height * 0.5vh;
    bottom: $exp-lookit-story-page-controls-height * 0.25vh;
}

.exp-lookit-story-page button.right {
    right: 1vw;
}

.exp-lookit-story-page button.left {
    left: 1vw;
}

.exp-lookit-story-page #parenttext, #experiment-player.player-fullscreen .exp-lookit-story-page #parenttext {
    font-size: x-large;
    right: 0; left: 0;
    width: 50vw;
    text-align: center;
    margin: auto;
    height: ($exp-lookit-story-page-controls-height - 4) * 1vh;
    bottom: 2vh;
    position: fixed;
    background-color: $exp-lookit-story-page-parent-text-color;
    color: black;
    border-radius: 15px;
}

.exp-lookit-story-page #waitForVideo, #experiment-player.player-fullscreen .exp-lookit-story-page #waitForVideo {
    font-size: x-large;
    margin-top: 40%;
}

.exp-lookit-story-page #fsButton {
    margin-left: auto;
    margin-right: auto;
    min-height: 75px;
    min-width: 100px;
    margin-top: 5%;
    padding: 20px;
    position: relative;
    display: block;
    font-size: x-large;
}


