div.exp-video-config {
    margin-top: 2vh;
}

.exp-video-config h2 {
    float:left;
}

.exp-video-config #not-recording-note {
    color:red;
    float:right;
}

.exp-video-config hr {
    clear:both;
}

.exp-video-config ul li {
    margin-top: 20px;
}

.exp-video-config .screenshot {
    display:block;
    margin:auto;
}

.exp-video-config .reload-warning {
    color: red;
}

.exp-video-config ol {
    counter-reset: item;
    padding: 0;
}

.exp-video-config ol > li {
    display: inline-block;
    margin-top: 1em;
    line-height: 1.8;
}

.exp-video-config #checkSettings {
    padding: 1px;
}

.exp-video-config ol > li:before {
  display: inline;
  content: counter(item) ". ";
  counter-increment: item;
  width: 1.5em;
  color: #04631c;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #d4efdf;
  border-radius:20px;
  padding:2px 6px;
  margin-right: .5em;
  border: thin solid #04631c;
}

.exp-video-config p.indent {
    margin-left: 3em;
}

.exp-video-config #soundCheckBox, .exp-video-config #camCheckBox {
    border: medium solid gray;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    padding: 2px;
    margin-top: 5px;
    border-radius: 5px;
}

.exp-video-config .checkComplete {
    background-color: #d4efdf;
}

.exp-video-config #reloadButton {
}
