$exp-lookit-story-page-AR: 2; // aspect ratio of story page, width:height
$exp-lookit-story-page-side-margin: 1; // in vw
$exp-lookit-story-page-top-margin: 1; // in vh
$exp-lookit-story-page-controls-height: 20; // in vh
$exp-lookit-story-page-parent-text-color: #f8f3bf;
$exp-lookit-story-page-width: (100 - 2*$exp-lookit-story-page-side-margin) * 1vw;
$exp-lookit-story-page-height: (100 - $exp-lookit-story-page-top-margin - $exp-lookit-story-page-controls-height) * 1vh;
$exp-lookit-story-page-height-no-controls: (100 - $exp-lookit-story-page-top-margin) * 1vh;
$exp-lookit-preferential-looking-AR: 2;
$exp-lookit-preferential-looking-picwidth: 30;
$exp-lookit-preferential-looking-picmargin: 2;

.exp-lookit-image-audio, .exp-lookit-image-audio *
{
    margin:0;
    padding:0;
    cursor: auto !important;
}

// Pieces not used yet, for the preferential looking sections

@mixin pic-container($left-pos) {
    min-width: $exp-lookit-preferential-looking-picwidth * 1%;
    max-width: $exp-lookit-preferential-looking-picwidth * 1%;
    left: $left-pos;
    height:100%;
    min-height:100%;
    max-height:100%;
}

.exp-lookit-image-audio, #experiment-player.player-fullscreen .exp-lookit-image-audio {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;

    .modal {
        position: fixed !important;
        z-index: 1050 !important;
        margin: auto !important;
        left: 25% !important;
        width: 50% !important;
        top: 25% !important;
        height: auto !important;
        bottom: auto !important;
        right: auto !important;
        font-size: larger;

        .modal-body, .modal-footer {
            padding: 0.5em;

            button {
                padding: 0.5em;
            }
        }
    }

    // Outside div for the "story page"
    #image-area {
        background-color: white;
        overflow: hidden;
        position: fixed;
        width: $exp-lookit-story-page-width;
        height: 1/$exp-lookit-story-page-AR * $exp-lookit-story-page-width;
        max-height: $exp-lookit-story-page-height;
        max-width: $exp-lookit-story-page-AR * $exp-lookit-story-page-height;
        margin: auto;
        margin-top: 0; top: $exp-lookit-story-page-top-margin * 1vh;
        left:0;right:0; /* horizontal center */

        &.image-area-no-controls {
            max-height: $exp-lookit-story-page-height-no-controls;
            max-width: $exp-lookit-story-page-AR * $exp-lookit-story-page-height-no-controls;
            top: 50%; /* Vertical center */
            transform: translate(0,-50%);
        }

        // Container immediately around the image. By default fills space.
        div.story-image-container {
            position:absolute;
            display: block;
            padding:0;
            max-height:100%;
            max-width: 100%;

            &.image-fill {
                height:100%;
                width:100%;
            }

            &.left {
                @include pic-container($exp-lookit-preferential-looking-picmargin * 1%);
            }

            &.right {
                @include pic-container((100 - $exp-lookit-preferential-looking-picmargin - $exp-lookit-preferential-looking-picwidth) * 1%);
            }

            &.center {
                @include pic-container(((100 - $exp-lookit-preferential-looking-picwidth) / 2) * 1%);
            }

            // The actual image
            img.story-image {
                position:relative;
                width: 100% !important;
                height: 100% !important;
                object-fit: contain;
                object-position: center;
                max-height: 100%;
                max-width: 100%;
                margin: auto;
                vertical-align: center;

                border: 5px solid transparent; // to avoid rearranging upon adding the highlight
                border-radius: 15px;

                &.choice-option {
                    border: 5px solid gray;
                }

                &.choice-option.highlight {
                    border: 5px solid green;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
                }
            }


        }
    }

    // Progress bar
    div.progress {
        height: 3vh !important;
    }

    // Fullscreen button
    #fsButton {
        margin-left: auto;
        margin-right: auto;
        min-height: 75px;
        min-width: 100px;
        margin-top: 5%;
        padding: 20px;
        position: relative;
        display: block;
        font-size: x-large;
    }


    // Navigation buttons
    #story-controls .button-container {
        display: inline-block;
        position: fixed;
        padding: 0px; margin: 0px;
        width: 20vw;
        margin-left: auto;
        margin-right: auto;
        min-width: 100px;
        min-height: 50px;
        bottom: 2vh;
        height: $exp-lookit-story-page-controls-height * 0.5vh;
        bottom: $exp-lookit-story-page-controls-height * 0.25vh;

        &.right {
            right: 1vw;
        }

        &.left {
            left: 1vw;
        }
    }

    // Navigation buttons
    #story-controls button {
        padding: 0px; margin: 0px;
        font-size: x-large;
        margin-left: auto;
        margin-right: auto;
        min-height: 50px;
        height: $exp-lookit-story-page-controls-height * 0.5vh;
        bottom: $exp-lookit-story-page-controls-height * 0.25vh;

        &.fill {
            width: 100%;
        }

        // Fix positions for easier recognition
        &#replaybutton {
            position: absolute;
            left: 0;
            width: 100%;
            height: 1em;
            top: 50%;
            clear: both;
        }

        &#previousbutton {
            position: absolute;
            left: 0;
            width: 100%;
            height: 1em;
            clear: both;
            margin-bottom: 1em;
        }


    }

    #parenttext {
        font-size: x-large;
        right: 0; left: 0;
        width: 50vw;
        text-align: center;
        margin: auto;
        height: ($exp-lookit-story-page-controls-height - 4) * 1vh;
        bottom: 2vh;
        position: fixed;
        background-color: $exp-lookit-story-page-parent-text-color;
        color: black;
        border-radius: 15px;
    }

    // Initial waiting for webcam connection display
    #waitForVideo {
        font-size: x-large;
        margin-top: 40%;
    }

}
