.door {
  position: absolute;
  height: 35%;
  width: 20%;
  left: 2%;
  bottom: 5%;
  cursor: default !important;
}

.box-set {
  background: #000000;
  height: 100vh !important;
  width:100%;
  position: relative;
  cursor: default !important;
}

.player-center {

  position: relative;
  left: 40%;
  right: 50%;
  top: 2px;

}


.box-set p{

  margin-top: 20px;
  padding: 8%;
  margin-right: 85% !important;
  font-family: "Courier New", Courier, monospace;
  overflow-wrap: normal;
  position: relative;
  color: yellow;
  font-size: large;
  display: block;
  width: 25%;
  margin-left: 1%;


}

.instr-page-container, .intro, .box-set {

  cursor: auto !important;
}


.exp-lookit-games, .exp-lookit-games *
{
  margin:0;
}



#exp-lookit-games-container, #experiment-player.player-fullscreen #exp-lookit-games-container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.assent-info {
  min-height: 55vh !important;
  height: 55vh !important;
}


.box {
  height: 30%;
  position: absolute;
  width: 8%;
  cursor: default !important;
}
.box-1 {
  left: 20%;
  top: 10%;
}
.box-2 {
  top: 2%;
  left: 50%;
}
.box-3 {
  left: 77%;
  top: 10%;
}
.box-4 {
  top: 60%;
  left: 60%;
}

.box-5 {
  top: 55%;
  left: 32%;
}

.arrow {
  height: 8%;
  position: absolute;
  width: 20%;
  cursor: default !important;
}

.arrow-1 {
  top: 15%;
  left: 30%;

}

.arrow-2 {
  top: 20%;
  left: 58%;

}

.arrow-3 {
  height: 50%;
  top: 26%;
  left: 68%;

}

.arrow-4 {
  height: 12%;
  top: 65%;
  left: 41%;

}

.arrow-5 {
  height: 14%;
  width: 15%;
  top: 70%;
  left: 16%;

}

.button {
  border: none;
  height:4%;
  width:6%;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  position: absolute;
  cursor: default !important;
}

.button-1 {
  top: 40%;
  left: 22%;
  z-index: 1;
}

.button-2 {
  top: 31%;
  left: 51%;
  z-index: 1;
}

.button-3 {
  top: 37%;
  left: 78%;
  z-index: 1;
}

.button-4 {
  top: 89%;
  left: 62%;
  z-index: 1;
}

.button-5 {
  top: 85%;
  left: 33%;
  z-index: 1;
}

.button-6 {
  top: 73%;
  left: 10%;
  z-index: 1;
}



.intro {
  position: relative;
  width: auto;

}

.intro:fullscreen {
  position: relative;
  height: 100vh;
  width:100vw;
  cursor: default !important;
}

.button-img {
  top: 70vh;
  left: 41%;
  height: 5vh;
  z-index: 1;
  cursor: default !important;

}


.instr-page-container p{
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  overflow-wrap: normal;
  position: relative;
  color: yellow;
  font-size: large;
  display: block;
  width: 66%;
  margin-right: auto;
  margin-left: auto;
}

.pull-right-games{
  position: fixed !important;
  margin-right: 4% !important;
  bottom: 10% !important;
  right: 5% !important;
}
.instr-page-container img{
  margin-top: 40px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.instr-page-container  .intro-button {
  background: #FFFFF000;
  border: 4px solid #FF7F00;
  color: #FF7F00;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
  display: inline-block;
  font-size: 20px;
  margin: 4px 4px;
  height: 29vh;
  width: 6.8%;
  top: 56vh;
  left: 38.5%;
  position: absolute;
  z-index: 1;
  cursor: default !important;
}

.intro-button:hover {

  background: #ffffcc;
}
