$exp-lookit-dialogue-page-AR: 2; // aspect ratio of story page, width:height

$exp-lookit-dialogue-page-side-margin: 2; // in vw
$exp-lookit-dialogue-page-top-margin: 2; // in vh
$exp-lookit-dialogue-page-controls-height: 20; // in vh
$exp-lookit-dialogue-page-parent-text-color: #f8f3bf;

$exp-lookit-dialogue-page-width: (100 - 2*$exp-lookit-dialogue-page-side-margin) * 1vw;
$exp-lookit-dialogue-page-height: (100 - $exp-lookit-dialogue-page-top-margin - $exp-lookit-dialogue-page-controls-height) * 1vh;

.exp-lookit-dialogue-page, .exp-lookit-dialogue-page *
{
    margin:0;
    padding:0;
}

#exp-lookit-dialogue-page-container, #experiment-player.player-fullscreen #exp-lookit-dialogue-page-container {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

.exp-lookit-dialogue-page #story-area, #experiment-player.player-fullscreen .exp-lookit-dialogue-page #story-area {
    background-color: white;
    overflow:hidden;
    position: fixed;
    width: $exp-lookit-dialogue-page-width;
    height: 1/$exp-lookit-dialogue-page-AR * $exp-lookit-dialogue-page-width;
    max-height: $exp-lookit-dialogue-page-height;
    max-width: $exp-lookit-dialogue-page-AR * $exp-lookit-dialogue-page-height;
    margin: auto;
    margin-top: 0; top: $exp-lookit-dialogue-page-top-margin * 1vh;
    left:0;right:0; /* horizontal center */
}

// this is what we place in position
.exp-lookit-dialogue-page div.story-image-positioner,  #experiment-player.player-fullscreen .exp-lookit-dialogue-page div.story-image-positioner {
    position: absolute;
    display: block;
    //height: auto;
    width: auto;
}

// this is what we click on
.exp-lookit-dialogue-page div.story-image-container,  #experiment-player.player-fullscreen .exp-lookit-dialogue-page div.story-image-container {
    width: max-content;
    height:100%;
    padding: 10px;
    border-radius: 15px;
    border:5px solid transparent; // to avoid rearranging upon adding the highlight
    margin-left:-50%;
    position: relative;
}

// this is the actual image
.exp-lookit-dialogue-page img.story-image,  #experiment-player.player-fullscreen  .exp-lookit-dialogue-page img.story-image {
    max-width: 100%;
    max-height: 100%;
    vertical-align: center;
    margin: auto;
    height:100%;
    cursor: pointer;
}

.exp-lookit-dialogue-page p.image-text, #experiment-player.player-fullscreen .exp-lookit-dialogue-page p.image-text {
    color: black;
    font-size: x-large;
    font-weight: bold;
    width: 80%;
    margin-top: -3em;
    margin-left: 10%;
    position: absolute;
    text-align: center;
    cursor: pointer !important;
}

.exp-lookit-dialogue-page p.image-text.disabled, #experiment-player.player-fullscreen .exp-lookit-dialogue-page p.image-text.disabled {
    color: #ABABAB;
    cursor: not-allowed !important;
}

.exp-lookit-dialogue-page .highlight .story-image-container,  #experiment-player.player-fullscreen .exp-lookit-dialogue-page .highlight .story-image-container  {
    border: 5px solid green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.exp-lookit-dialogue-page * {
    cursor: auto !important;
}

.exp-lookit-dialogue-page #story-controls button, #experiment-player.player-fullscreen .exp-lookit-dialogue-page #story-controls button {
    display: inline-block;
    position: fixed;
    padding: 0px; margin: 0px;
    font-size: x-large;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    min-height: 50px;
    bottom: 2vh;
    height: $exp-lookit-dialogue-page-controls-height * 0.5vh;
    bottom: $exp-lookit-dialogue-page-controls-height * 0.25vh;
}

.exp-lookit-dialogue-page button.right {
    right: 1vw;
}

.exp-lookit-dialogue-page button.left {
    left: 1vw;
}

.exp-lookit-dialogue-page button.btn-success:disabled {
    background-color: gray;
    border: 0px;
    cursor: not-allowed !important;
}

.exp-lookit-dialogue-page #background-image, #experiment-player.player-fullscreen .exp-lookit-dialogue-page #background-image {
    width: 100%;
    height:auto;
    max-width: 100%;
    max-height: 100%;
    overflow:hidden;
}

.exp-lookit-dialogue-page #parenttext, #experiment-player.player-fullscreen .exp-lookit-dialogue-page #parenttext {
    font-size: x-large;
    right: 0; left: 0;
    width: 50vw;
    text-align: center;
    margin: auto;
    height: ($exp-lookit-dialogue-page-controls-height - 4) * 1vh;
    bottom: 2vh;
    position: fixed;
    background-color: $exp-lookit-dialogue-page-parent-text-color;
    color: black;
    border-radius: 15px;
    padding: 10px;
}

.exp-lookit-dialogue-page #fsButton {
    margin-left: auto;
    margin-right: auto;
    min-height: 75px;
    min-width: 100px;
    margin-top: 5%;
    padding: 20px;
    position: relative;
    display: block;
    font-size: x-large;
}

.exp-lookit-dialogue-page #waitForVideo, #experiment-player.player-fullscreen .exp-lookit-dialogue-page #waitForVideo {
    font-size: x-large;
    margin-top: 10%;
    width: 400px;
    margin-left: -200px;
    left: 50%;
    position: fixed;
}

