.exp-video-preview {
    .exp-lookit-preview-video {
        max-height: 75vh;
        max-width: 100%;
    }

    .exp-lookit-preview-image {
        max-height: 75vh;
        max-width: 100%;
    }

    .exp-video-preview #exp-lookit-preview-container {
        height: 80vh;
    }
}
