.exp-physics-exit-survey {
    padding: 100px !important;
}

.player-fullscreen .exp-physics-exit-survey {
    text-align: left !important;
}

.exp-physics-exit-survey .ember-view .date {
    width: 30%;
}

.exp-physics-exit-survey .extra-info {
    font-size: small;
    font-weight: normal;
    color: rgb(95,95,95);
}

.exp-physics-exit-survey .input-text {
    width: 100%;
    border-radius: 5px;
    border-color: rgb(95, 95, 95);
}

.exp-physics-exit-survey .ember-view{
    height: auto !important;
}

.exp-physics-exit-survey .radio-holder {
    position:relative;
    margin-top:-4px;
}