$exp-lookit-preferential-looking-AR: 2;
$exp-lookit-preferential-looking-picwidth: 30;
$exp-lookit-preferential-looking-picmargin: 2;
$exp-pref-look-cal-width: 12%;
$exp-pref-look-left-rect: 18.75%;
$exp-pref-look-right-rect: 81.25%;

.exp-lookit-preferential-looking #allstimuli, #experiment-player.player-fullscreen .exp-lookit-preferential-looking #allstimuli{
    overflow:hidden;
    position:fixed;
    width: 100vw;
    height: 30vw;
    max-height: 100vh;
    max-width: (100 / $exp-lookit-preferential-looking-picwidth) * 100vh;
    margin: auto;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

.exp-lookit-preferential-looking, .exp-lookit-preferential-looking *
{
    margin:0;
    padding:0;
}

.exp-lookit-preferential-looking video {
    margin:auto;
}

.exp-lookit-preferential-looking video.intro {
    max-height: 50%;
}

.exp-lookit-preferential-looking video.test:not(.attn) {
    max-height:80%;
    width:100%;
}

.exp-lookit-preferential-looking video.attn {
    max-height: 30%;
}


.exp-lookit-preferential-looking .pause-instructions {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.exp-lookit-preferential-looking #fsButton, .exp-lookit-preferential-looking #nextbutton {
    margin-left: auto;
    margin-right: auto;
    min-height: 75px;
    min-width: 300px;
    position: relative;
    display: block;
    font-size: 2em;
}

#experiment-player:not(.player-fullscreen) .exp-lookit-preferential-looking video {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    display: block;
}

#experiment-player:not(.player-fullscreen) .exp-lookit-preferential-looking #allstimuli {
    width:100%;
}

@mixin pic-container($left-pos) {
    min-width: $exp-lookit-preferential-looking-picwidth * 1%;
    max-width: $exp-lookit-preferential-looking-picwidth * 1%;
    left: $left-pos;
    min-height: 100%;
    max-height: 100%;
    top: 0;
    position: absolute;
}

.exp-lookit-preferential-looking #left-container {
    @include pic-container($exp-lookit-preferential-looking-picmargin * 1%);
}

.exp-lookit-preferential-looking #right-container {
    @include pic-container((100 - $exp-lookit-preferential-looking-picmargin - $exp-lookit-preferential-looking-picwidth) * 1%);
}

.exp-lookit-preferential-looking #center-container {
    @include pic-container(((100 - $exp-lookit-preferential-looking-picwidth) / 2) * 1%);
}

.exp-lookit-preferential-looking img.stim-image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.exp-lookit-preferential-looking .recorder-container {
	width:100%;
	height:50vh;
	margin: 0px;
}

.exp-lookit-preferential-looking .recorder {
	padding: 0px;
	margin-bottom: 1em;
	margin-top: 1em;
	background-color: #ccc;
	width: 110%;
	height:100%;
	min-width:350px;
	margin-left:-10%;
}

.exp-lookit-preferential-looking #player-calibration-video {
    width: $exp-pref-look-cal-width;
    max-height: 300px;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.exp-lookit-preferential-looking #player-calibration-video.center {
    margin-left: 50% - $exp-pref-look-cal-width/2;
}

.exp-lookit-preferential-looking #player-calibration-video.left {
    margin-left: $exp-pref-look-left-rect - $exp-pref-look-cal-width/2;
}

.exp-lookit-preferential-looking #player-calibration-video.right {
    margin-left: $exp-pref-look-right-rect - $exp-pref-look-cal-width/2;
}
