$exp-lookit-video-AR: 1.75; // aspect ratio of story page, width:height
$exp-lookit-video-side-margin: 1; // in vw
$exp-lookit-video-top-margin: 1; // in vh
$exp-lookit-video-controls-height: 20; // in vh
$exp-lookit-video-width: (100 - 2*$exp-lookit-video-side-margin) * 1vw;
$exp-lookit-video-height: (100 - $exp-lookit-video-top-margin - $exp-lookit-video-controls-height) * 1vh;
$exp-lookit-video-parent-text-color: white;

.exp-lookit-video.cursor-display, .exp-lookit-video.cursor-display *
{
  cursor: auto !important;
}

.exp-lookit-video, #experiment-player.player-fullscreen .exp-lookit-video {
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;

    .pause-instructions {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right:auto;
        text-align: center;
        font-size: 3em;
        font-weight: bold;
    }

    #fsButton {
        margin: auto;
        margin-top: 25%;
        min-width: 300px;
        height: 3em;
        font-size: 2em;
        position: relative;
        display: block;
    }

    .recorder-container {
      width:100%;
      height:50vh;
      margin: 0px;
    }

    .recorder {
      padding: 0px;
      margin-bottom: 1em;
      margin-top: 1em;
      background-color: #ccc;
      width: 110%;
      height:100%;
      min-width:350px;
      margin-left:-10%;
    }

    // Initial waiting for webcam connection display
    #waitForVideo {
      font-size: x-large;
      margin-top: 40%;
    }

    // Outside div for the "story page"
    #image-area {
        background-color: white;
        overflow: hidden;
        position: fixed;
        width: $exp-lookit-video-width;
        height: 1/$exp-lookit-video-AR * $exp-lookit-video-width;
        max-height: $exp-lookit-video-height;
        max-width: $exp-lookit-video-AR * $exp-lookit-video-height;
        margin: auto;
        margin-top: 0; top: $exp-lookit-video-top-margin * 1vh;
        left:0;right:0; /* horizontal center */

        &.image-area-fs {
            max-height: 100%;
            max-width: 100%;
            height: 100%;
            width: 100%;
        }

        // Container immediately around the image. By default fills space.
        div.story-image-container {
            position:absolute;
            display: block;
            padding:0;
            max-height:100%;
            max-width: 100%;
            border: 0;

            &.fill {
              height:100%;
              width:100%;
            }

            // The actual image
            video.story-image {
                position:relative;
                width: 100% !important;
                height: 100% !important;
                object-fit: contain;
                object-position: center;
                max-height: 100%;
                max-width: 100%;
                margin: auto;
                vertical-align: center;
            }
        }
    }

    // Navigation buttons
    #story-controls .button-container {
        display: inline-block;
        position: fixed;
        padding: 0px; margin: 0px;
        width: 20vw;
        margin-left: auto;
        margin-right: auto;
        min-width: 100px;
        min-height: 50px;
        bottom: 2vh;
        height: $exp-lookit-video-controls-height * 0.5vh;
        bottom: $exp-lookit-video-controls-height * 0.25vh;

        &.right {
            right: 1vw;
        }

        &.left {
            left: 1vw;
        }
    }

    // Navigation buttons
    #story-controls button {
        padding: 0px; margin: 0px;
        font-size: x-large;
        margin-left: auto;
        margin-right: auto;
        min-height: 50px;
        height: $exp-lookit-video-controls-height * 0.5vh;
        bottom: $exp-lookit-video-controls-height * 0.25vh;

        &.fill {
            width: 100%;
        }

        // Fix positions for easier recognition
        &#replaybutton {
            position: absolute;
            left: 0;
            width: 100%;
            height: 1em;
            top: 50%;
            clear: both;
        }

        &#previousbutton {
            position: absolute;
            left: 0;
            width: 100%;
            height: 1em;
            clear: both;
            margin-bottom: 1em;
        }


    }

    #parenttext {
        font-size: x-large;
        right: 0; left: 0;
        width: 50vw;
        text-align: center;
        margin: auto;
        height: ($exp-lookit-video-controls-height - 4) * 1vh;
        bottom: 2vh;
        position: fixed;
        background-color: $exp-lookit-video-parent-text-color;
        color: black;
        border-radius: 15px;
    }


}


#experiment-player:not(.player-fullscreen) .exp-lookit-video {

    width: 100% !important;
    height: 100% !important;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    video {
        margin-left: auto;
        margin-right: auto;
        width: 15%;
        position: relative;
        display: block;
    }

    div {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

}








