$exp-video-cal-width: 12%;
$exp-video-left-rect: 18.75%;
$exp-video-right-rect: 81.25%;

.exp-lookit-video video {
    margin:auto;
}

.exp-lookit-video video.intro {
    max-height: 50%;
}

.exp-lookit-video video.test:not(.attn) {
    max-height:80%;
    width:100%;
}

.exp-lookit-video video.attn {
    max-height: 30%;
}

.exp-lookit-video .pause-instructions {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.exp-lookit-video #fsButton, .exp-lookit-video #nextbutton {
    margin-left: auto;
    margin-right: auto;
    min-height: 75px;
    min-width: 300px;
    position: relative;
    display: block;
    font-size: 2em;
}

#experiment-player:not(.player-fullscreen) .exp-lookit-video video {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    display: block;
}

.exp-lookit-video .recorder-container {
	width:100%;
	height:50vh;
	margin: 0px;
	//position:relative;
}

.exp-lookit-video .recorder {
	padding: 0px;
	margin-bottom: 1em;
	margin-top: 1em;
	background-color: #ccc;
	width: 110%;
	height:100%;
	min-width:350px;
	margin-left:-10%;
	//position: absolute;
	//top:0;
	//right:0;
	//left:100%;
}

.exp-lookit-video #player-calibration-video {
    width: $exp-video-cal-width;
    max-height: 300px;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.exp-lookit-video #player-calibration-video.center {
    margin-left: 50% - $exp-video-cal-width/2;
}

.exp-lookit-video #player-calibration-video.left {
    margin-left: $exp-video-left-rect - $exp-video-cal-width/2;
}

.exp-lookit-video #player-calibration-video.right {
    margin-left: $exp-video-right-rect - $exp-video-cal-width/2;
}
