.exp-lookit-survey .exp-lookit-survey-form {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 0;
    height: 80vh;
    overflow-y: scroll;
}

.exp-lookit-survey {
    max-width: 800px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}
