<div class="radio-group">
    {{yield}}
    <label class="label-left">
        {{labelLeft}}
    </label>
    {{#each options as |option|}}
        <label class="radio-group-label">
            {{radio-button value=option checked=value name=elementId}}
        </label>
    {{/each}}
    <label class="label-right">
        {{labelRight}}
    </label>
</div>
