<div >
    {{#if showInstructions}}
        <h1> {{gameDescription}} </h1>
        <hr>
        <p> {{instructions}}</p>
        <hr >
        <button class="btn btn-success" {{ action 'play' }} >Play</button>
    {{/if}}
    <canvas  id="gamesCanvas"  height="0"></canvas>

</div>



