<div class="row" id="experiment-player">
    <div class="col-xs-12">

        {{
        component currentFrameTemplate

                  frameIndex=frameIndex
                  frameConfig=currentFrameConfig
                  frameContext=currentFrameContext

                  session=session
                  experiment=experiment

                  next=(action "next")
                  exit=(action "exit")
                  previous=(action "previous")
                  saveHandler=(action "saveFrame")

                  extra=extra
        }}
    </div>
</div>
