<div class="row" id="experiment-player">
    <div class="col-xs-12">

        {{
        component currentFrameTemplate

                  frameIndex=frameIndex
                  frameConfig=currentFrameConfig
                  frameContext=currentFrameContext

                  session=session
                  experiment=experiment

                  next=(action 'next')
                  previous=(action 'previous')
                  saveHandler=(action 'saveFrame')
                  skipone=(action 'skipone')

                  extra=extra
        }}
    </div>
</div>
