<div class="row exp-test">

  <div class="row" id="experiment-player">

    <div class="col-xs-12">

      <canvas id="myCanvas" width="1200" height="640"></canvas>

    {{#unless hideControls}}
      <div class="row exp-controls exp-test">
        <div class="btn-group">
      {{#if showPreviousButton}}
          <button class="btn btn-default pull-left" {{ action 'previous' }} > Previous</button>
      {{/if}}
          <button class="btn btn-default pull-left"  {{ action 'next' }} > {{exp-format nextButtonText}} </button>
        </div>
      </div>
    {{/unless}}

    </div>
  </div>

</div>



