<div class="col-lg-8" id="experiment-player">

  <canvas id="gamesCanvas"></canvas>

  {{#unless hideControls}}
    <div class="row exp-controls exp-test">
      <div class="btn-group">
        {{#if showPreviousButton}}
          <button class="btn btn-default pull-left" {{ action 'previous' }} > Previous</button>
        {{/if}}
        <button class="btn btn-default pull-left"  {{ action 'next' }} > {{exp-format nextButtonText}} </button>
      </div>
    </div>
  {{/unless}}

</div>



