<div class="row exp-my-frame-name">
  <!-- Content goes here. Make sure you give all content in your frame a unique class
  and target your CSS to that class
  (see https://lookit.readthedocs.io/en/develop/frames.html#adding-css-styling)-->
</div>
<div class="row exp-controls exp-my-frame-name">
  <!-- Example: next/previous controls. Modify as appropriate -->
  <div class="btn-group">
    <button class="btn btn-default" {{ action 'previous' }} > Previous </button>
    <button class="btn btn-default pull-right" {{ action 'next' }} > Next </button>
  </div>
</div>

