
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>exp-lookit-video &#8212; lookit-frameplayer 1.3.1 documentation</title>
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <script id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
    <script src="../../_static/jquery.js"></script>
    <script src="../../_static/underscore.js"></script>
    <script src="../../_static/doctools.js"></script>
    <script src="../../_static/language_data.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="exp-lookit-composite-video-trial" href="../exp-lookit-composite-video-trial/doc.html" />
    <link rel="prev" title="Welcome to lookit-frameplayer’s documentation!" href="../../index.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="exp-lookit-video">
<h1>exp-lookit-video<a class="headerlink" href="#exp-lookit-video" title="Permalink to this headline">¶</a></h1>
<dl class="js class">
<dt id="ExpLookitVideo">
<em class="property">class </em><code class="sig-name descname">ExpLookitVideo</code><span class="sig-paren">(</span><em class="sig-param">video</em>, <em class="sig-param">audio</em><span class="sig-paren">)</span><a class="headerlink" href="#ExpLookitVideo" title="Permalink to this definition">¶</a></dt>
<dd><dl class="field-list simple">
<dt class="field-odd">Arguments</dt>
<dd class="field-odd"><ul class="simple">
<li><p><strong>video</strong> (<em>Object</em>) – Object describing the video to show, with properties: * source: location of hte main video to play</p></li>
<li><p><strong>video.source</strong> (<em>String</em>) – The location of the main video to play. This can be either an array of <code class="docutils literal notranslate"><span class="pre">{'src':</span> <span class="pre">'https://...',</span> <span class="pre">'type':</span> <span class="pre">'...'}</span></code> objects (e.g., to provide both webm and mp4 versions at specified URLS) or a single string relative to <code class="docutils literal notranslate"><span class="pre">baseDir/&lt;EXT&gt;/</span></code>.</p></li>
<li><p><strong>video.left</strong> (<em>Number</em>) – left margin, as percentage of screen width. If neither left nor width is provided, the image is centered horizontally.</p></li>
<li><p><strong>video.width</strong> (<em>Number</em>) – video width, as percentage of screen width. Note: in general only provide one of width and height; the other will be adjusted to preserve the video aspect ratio.</p></li>
<li><p><strong>video.top</strong> (<em>Number</em>) – top margin, as percentage of video area height (i.e. whole screen, unless parent text or next button are shown). If not provided, the image is centered vertically.</p></li>
<li><p><strong>video.height</strong> (<em>Number</em>) – video height, as percentage of video area height. Note: in general only provide one of width and height; the other will be adjusted to preserve the video aspect ratio.</p></li>
<li><p><strong>video.position</strong> (<em>String</em>) – use ‘fill’ to fill the screen as much as possible while preserving aspect ratio. This overrides left/width/top/height values if given.</p></li>
<li><p><strong>video.loop</strong> (<em>Boolean</em>) – whether the video should loop, even after any <code class="docutils literal notranslate"><span class="pre">requireTestVideoCount</span></code> is satisfied</p></li>
<li><p><strong>audio</strong> (<em>Object</em>) – Object describing the audio file to play along with video. Can have properties:</p></li>
<li><p><strong>audio.source</strong> (<em>String</em>) – Location of the audio file to play. This can either be an array of {src: ‘url’, type: ‘MIMEtype’} objects, e.g. listing equivalent .mp3 and .ogg files, or can be a single string <code class="docutils literal notranslate"><span class="pre">filename</span></code> which will be expanded based on <code class="docutils literal notranslate"><span class="pre">baseDir</span></code> and <code class="docutils literal notranslate"><span class="pre">audioTypes</span></code> values (see <code class="docutils literal notranslate"><span class="pre">audioTypes</span></code>).</p></li>
<li><p><strong>audio.loop</strong> (<em>Boolean</em>) – whether the audio should loop, even after any requireTestAudioCount is satisfied</p></li>
<li><p><strong>autoProceed</strong> (<em>Boolean</em>) – Whether to proceed automatically when video is complete / requiredDuration is achieved, vs. enabling a next button at that point. If true, the frame auto-advances after ALL of the following happen (a) the requiredDuration (if any) is achieved, counting from the video starting (b) the video is played requireVideoCount times (c) the audio is played requireAudioCount times If false: a next button is displayed. It becomes possible to press ‘next’ only once the conditions above are met.</p></li>
</ul>
</dd>
</dl>
<p><strong>Examples:</strong></p>
<div class="highlight-js notranslate"><div class="highlight"><pre><span></span><span class="s2">&quot;announce-next-trial&quot;</span><span class="o">:</span> <span class="p">{</span>
      <span class="s2">&quot;kind&quot;</span><span class="o">:</span> <span class="s2">&quot;exp-lookit-video&quot;</span><span class="p">,</span>

      <span class="s2">&quot;audio&quot;</span><span class="o">:</span> <span class="p">{</span>
          <span class="s2">&quot;loop&quot;</span><span class="o">:</span> <span class="kc">false</span><span class="p">,</span>
          <span class="s2">&quot;source&quot;</span><span class="o">:</span> <span class="s2">&quot;video_01&quot;</span>
      <span class="p">},</span>
      <span class="s2">&quot;video&quot;</span><span class="o">:</span> <span class="p">{</span>
          <span class="s2">&quot;top&quot;</span><span class="o">:</span> <span class="mf">10</span><span class="p">,</span>
          <span class="s2">&quot;left&quot;</span><span class="o">:</span> <span class="mf">40</span><span class="p">,</span>
          <span class="s2">&quot;loop&quot;</span><span class="o">:</span> <span class="kc">true</span><span class="p">,</span>
          <span class="s2">&quot;width&quot;</span><span class="o">:</span> <span class="mf">20</span><span class="p">,</span>
          <span class="s2">&quot;source&quot;</span><span class="o">:</span> <span class="s2">&quot;attentiongrabber&quot;</span>
      <span class="p">},</span>
      <span class="s2">&quot;backgroundColor&quot;</span><span class="o">:</span> <span class="s2">&quot;white&quot;</span><span class="p">,</span>
      <span class="s2">&quot;autoProceed&quot;</span><span class="o">:</span> <span class="kc">true</span><span class="p">,</span>
      <span class="s2">&quot;parentTextBlock&quot;</span><span class="o">:</span> <span class="p">{</span>
          <span class="s2">&quot;text&quot;</span><span class="o">:</span> <span class="s2">&quot;If your child needs a break, just press X to pause!&quot;</span>
      <span class="p">},</span>

      <span class="s2">&quot;requiredDuration&quot;</span><span class="o">:</span> <span class="mf">0</span><span class="p">,</span>
      <span class="s2">&quot;requireAudioCount&quot;</span><span class="o">:</span> <span class="mf">1</span><span class="p">,</span>
      <span class="s2">&quot;requireVideoCount&quot;</span><span class="o">:</span> <span class="mf">0</span><span class="p">,</span>
      <span class="s2">&quot;doRecording&quot;</span><span class="o">:</span> <span class="kc">true</span><span class="p">,</span>

      <span class="s2">&quot;pauseKey&quot;</span><span class="o">:</span> <span class="s2">&quot;x&quot;</span><span class="p">,</span>
      <span class="s2">&quot;pauseKeyDescription&quot;</span><span class="o">:</span> <span class="s2">&quot;X&quot;</span><span class="p">,</span>
      <span class="s2">&quot;restartAfterPause&quot;</span><span class="o">:</span> <span class="kc">true</span><span class="p">,</span>
      <span class="s2">&quot;pauseAudio&quot;</span><span class="o">:</span> <span class="s2">&quot;pause&quot;</span><span class="p">,</span>
      <span class="s2">&quot;pauseVideo&quot;</span><span class="o">:</span> <span class="s2">&quot;attentiongrabber&quot;</span><span class="p">,</span>
      <span class="s2">&quot;pauseText&quot;</span><span class="o">:</span> <span class="s2">&quot;(You&#39;ll have a moment to turn around again.)&quot;</span><span class="p">,</span>
      <span class="s2">&quot;unpauseAudio&quot;</span><span class="o">:</span> <span class="s2">&quot;return_after_pause&quot;</span><span class="p">,</span>

      <span class="s2">&quot;baseDir&quot;</span><span class="o">:</span> <span class="s2">&quot;https://www.mit.edu/~kimscott/placeholderstimuli/&quot;</span><span class="p">,</span>
      <span class="s2">&quot;audioTypes&quot;</span><span class="o">:</span> <span class="p">[</span>
          <span class="s2">&quot;ogg&quot;</span><span class="p">,</span>
          <span class="s2">&quot;mp3&quot;</span>
      <span class="p">],</span>
      <span class="s2">&quot;videoTypes&quot;</span><span class="o">:</span> <span class="p">[</span>
          <span class="s2">&quot;webm&quot;</span><span class="p">,</span>
          <span class="s2">&quot;mp4&quot;</span>
      <span class="p">]</span>
  <span class="p">},</span>
</pre></div>
</div>
<div class="highlight-js notranslate"><div class="highlight"><pre><span></span><span class="s2">&quot;play-video-twice&quot;</span><span class="o">:</span> <span class="p">{</span>
      <span class="s2">&quot;kind&quot;</span><span class="o">:</span> <span class="s2">&quot;exp-lookit-video&quot;</span><span class="p">,</span>

      <span class="s2">&quot;video&quot;</span><span class="o">:</span> <span class="p">{</span>
          <span class="s2">&quot;top&quot;</span><span class="o">:</span> <span class="mf">10</span><span class="p">,</span>
          <span class="s2">&quot;left&quot;</span><span class="o">:</span> <span class="mf">25</span><span class="p">,</span>
          <span class="s2">&quot;loop&quot;</span><span class="o">:</span> <span class="kc">false</span><span class="p">,</span>
          <span class="s2">&quot;width&quot;</span><span class="o">:</span> <span class="mf">50</span><span class="p">,</span>
          <span class="s2">&quot;source&quot;</span><span class="o">:</span> <span class="s2">&quot;cropped_apple&quot;</span>
      <span class="p">},</span>
      <span class="s2">&quot;backgroundColor&quot;</span><span class="o">:</span> <span class="s2">&quot;white&quot;</span><span class="p">,</span>
      <span class="s2">&quot;autoProceed&quot;</span><span class="o">:</span> <span class="kc">true</span><span class="p">,</span>
      <span class="s2">&quot;parentTextBlock&quot;</span><span class="o">:</span> <span class="p">{</span>
          <span class="s2">&quot;text&quot;</span><span class="o">:</span> <span class="s2">&quot;If your child needs a break, just press X to pause!&quot;</span>
      <span class="p">},</span>

      <span class="s2">&quot;requiredDuration&quot;</span><span class="o">:</span> <span class="mf">0</span><span class="p">,</span>
      <span class="s2">&quot;requireAudioCount&quot;</span><span class="o">:</span> <span class="mf">0</span><span class="p">,</span>
      <span class="s2">&quot;requireVideoCount&quot;</span><span class="o">:</span> <span class="mf">2</span><span class="p">,</span>
      <span class="s2">&quot;doRecording&quot;</span><span class="o">:</span> <span class="kc">true</span><span class="p">,</span>

      <span class="s2">&quot;pauseKey&quot;</span><span class="o">:</span> <span class="s2">&quot;x&quot;</span><span class="p">,</span>
      <span class="s2">&quot;pauseKeyDescription&quot;</span><span class="o">:</span> <span class="s2">&quot;X&quot;</span><span class="p">,</span>
      <span class="s2">&quot;restartAfterPause&quot;</span><span class="o">:</span> <span class="kc">true</span><span class="p">,</span>
      <span class="s2">&quot;pauseAudio&quot;</span><span class="o">:</span> <span class="s2">&quot;pause&quot;</span><span class="p">,</span>
      <span class="s2">&quot;pauseVideo&quot;</span><span class="o">:</span> <span class="s2">&quot;attentiongrabber&quot;</span><span class="p">,</span>
      <span class="s2">&quot;pauseText&quot;</span><span class="o">:</span> <span class="s2">&quot;(You&#39;ll have a moment to turn around again.)&quot;</span><span class="p">,</span>
      <span class="s2">&quot;unpauseAudio&quot;</span><span class="o">:</span> <span class="s2">&quot;return_after_pause&quot;</span><span class="p">,</span>

      <span class="s2">&quot;baseDir&quot;</span><span class="o">:</span> <span class="s2">&quot;https://www.mit.edu/~kimscott/placeholderstimuli/&quot;</span><span class="p">,</span>
      <span class="s2">&quot;audioTypes&quot;</span><span class="o">:</span> <span class="p">[</span>
          <span class="s2">&quot;ogg&quot;</span><span class="p">,</span>
          <span class="s2">&quot;mp3&quot;</span>
      <span class="p">],</span>
      <span class="s2">&quot;videoTypes&quot;</span><span class="o">:</span> <span class="p">[</span>
          <span class="s2">&quot;webm&quot;</span><span class="p">,</span>
          <span class="s2">&quot;mp4&quot;</span>
      <span class="p">]</span>
  <span class="p">},</span>
</pre></div>
</div>
</dd></dl>

<div class="section" id="overview">
<h2>Overview<a class="headerlink" href="#overview" title="Permalink to this headline">¶</a></h2>
<p>Video display frame. This may be used for displaying videos to older children or parents, as well as for
typical looking measures trials or as brief filler in between test trials.</p>
<p>(Note: this frame replaced the previous exp-lookit-video frame, which is now called
<a class="reference internal" href="../exp-lookit-composite-video-trial/doc.html#ExpLookitCompositeVideoTrial" title="ExpLookitCompositeVideoTrial"><code class="xref js js-class docutils literal notranslate"><span class="pre">ExpLookitCompositeVideoTrial()</span></code></a>.)</p>
<dl class="simple">
<dt>This is very customizable: you can…</dt><dd><ul class="simple">
<li><p>position the video wherever you want on the screen, including specifying that it should fill the screen (while maintaining aspect ratio)</p></li>
<li><p>choose the background color</p></li>
<li><p>optionally specify audio that should play along with the video</p></li>
<li><p>have the frame proceed automatically (<code class="docutils literal notranslate"><span class="pre">autoProceed</span></code>), or enable a Next button when the user can move on</p></li>
<li><p>allow parents to press a key to pause the video (and then either restart when they un-pause, or move on to the next frame)</p></li>
</ul>
</dd>
</dl>
</div>
<div class="section" id="recording">
<h2>Recording<a class="headerlink" href="#recording" title="Permalink to this headline">¶</a></h2>
<p>Video (and audio if provided) start as soon as any recording begins, or right away if there is no recording starting.</p>
</div>
<div class="section" id="pausing">
<h2>Pausing<a class="headerlink" href="#pausing" title="Permalink to this headline">¶</a></h2>
<p>If the user pauses using the <code class="docutils literal notranslate"><span class="pre">pauseKey</span></code>, or if the user leaves fullscreen mode, the study will be paused.
While paused, the video/audio are stopped and not displayed, and instead a looping <code class="docutils literal notranslate"><span class="pre">pauseVideo</span></code> and text are displayed.</p>
</div>
<div class="section" id="specifying-trial-duration">
<h2>Specifying trial duration<a class="headerlink" href="#specifying-trial-duration" title="Permalink to this headline">¶</a></h2>
<p>There are several ways you can specify how long the trial should last. The frame will continue until
ALL of the following are true:</p>
<blockquote>
<div><ul class="simple">
<li><p>the video has been played all the way through <code class="docutils literal notranslate"><span class="pre">requireVideoCount</span></code> times</p></li>
<li><p>the audio has been played all the way through <code class="docutils literal notranslate"><span class="pre">requireAudioCount</span></code> times</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">requiredDuration</span></code> seconds have elapsed since beginning the video</p></li>
</ul>
</div></blockquote>
<p>You do not need to use all of these. For instance, to play the video one time and then proceed, set
<code class="docutils literal notranslate"><span class="pre">requireVideoCount</span></code> to 1 and the others to 0. You can also specify whether the audio and video should loop (beyond
what is necessary to reach the required counts).</p>
</div>
<div class="section" id="display">
<h2>Display<a class="headerlink" href="#display" title="Permalink to this headline">¶</a></h2>
<p>This frame is displayed fullscreen; if the frame before it is not, that frame
needs to include a manual “next” button so that there’s a user interaction
event to trigger fullscreen mode. (Browsers don’t allow us to switch to FS
without a user event.)</p>
</div>
</div>


          </div>
          
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
<h1 class="logo"><a href="../../index.html">lookit-frameplayer</a></h1>








<h3>Navigation</h3>
<p class="caption"><span class="caption-text">Contents:</span></p>
<ul class="current">
<li class="toctree-l1 current"><a class="current reference internal" href="#">exp-lookit-video</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#overview">Overview</a></li>
<li class="toctree-l2"><a class="reference internal" href="#recording">Recording</a></li>
<li class="toctree-l2"><a class="reference internal" href="#pausing">Pausing</a></li>
<li class="toctree-l2"><a class="reference internal" href="#specifying-trial-duration">Specifying trial duration</a></li>
<li class="toctree-l2"><a class="reference internal" href="#display">Display</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../exp-lookit-composite-video-trial/doc.html">exp-lookit-composite-video-trial</a></li>
</ul>

<div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../../index.html">Documentation overview</a><ul>
      <li>Previous: <a href="../../index.html" title="previous chapter">Welcome to lookit-frameplayer’s documentation!</a></li>
      <li>Next: <a href="../exp-lookit-composite-video-trial/doc.html" title="next chapter">exp-lookit-composite-video-trial</a></li>
  </ul></li>
</ul>
</div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>








        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2020, MIT.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 3.2.1</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
      |
      <a href="../../_sources/components/exp-lookit-video/doc.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>