<div class="row">
    <div class="col-xs-12">
        <ul>
            <li> Study: {{study.id}} </li>
            <li> Participant {{participant.id}} </li>
            <li> Response {{response.id}} </li>
            <li> Child {{child.id}} </li>
        </ul>
    </div>
</div>
