<div class="row">
    <div class="col-xs-12">
        <h1> From API: Study and child Profile.  Response created.  Past responses retrieved. </h1>
        <ul>
            <li> Fetched Study: {{study.id}} </li>
            <li> Fetched Child {{child.id}} </li>
            <li> Created Response {{response.id}} </li>
        </ul>

        <h2> The study, response, and pastResponses are passed into the exp-player component below.</h2>
    </div>
</div>


<div id="expContainer">
    {{exp-player
          experiment=study
          session=response
          pastSessions=pastResponses
          saveHandler=(action 'saveResponse')
          frameIndex=0
          fullScreenElementId='expContainer'
      }}
</div>
