<div class="row">
    <div class="col-xs-12">
        <h1>Making sure models are loaded: </h1>
        <ul>
            <li> Fetched Study: {{study.id}} </li>
            <li> Fetched Child {{child.id}} </li>
            <li> Created Response {{response.id}} </li>
        </ul>
    </div>
</div>


<div id="expContainer">
    {{exp-player
          experiment=study
          session=response
          pastSessions=pastResponses
          saveHandler=(action 'saveResponse')
          frameIndex=0
          fullScreenElementId='expContainer'
      }}
</div>
