<div id="expContainer">
    {{#if response.study.id}}
        {{exp-player
            experiment=study
            session=response
            pastSessions=pastResponses
        }}
    {{/if}}
</div>

{{#bs-modal open=showData title="Data collected during this preview session" closeAction=(action 'toggleData') as |modal|}}
    {{#modal.body}}
        <p>
            <strong> Note: </strong>
            This dialog will not appear to participants when they complete a study.
        </p>
        <hr>
        <pre class="preview-data">
            {{previewData}}
        </pre>
    {{/modal.body}}
{{/bs-modal}}
