<div id="expContainer">
    {{#if response.study.id}}
        <div id="application-parse-error-text">
            <p> Error loading study "{{study.name}}" - likely an error parsing the study protocol. </p>
            <p> <strong>Participants:</strong> If you're using a phone or tablet, please try again from a computer, using Firefox or Chrome. Lookit does not yet support mobile devices - we're sorry! If you're still having trouble, please contact {{study.contactInfo}} or lookit-tech@mit.edu for assistance. </p>
            <p> <strong>Researchers:</strong> see web console (browser developer tools) for details. </p>
            <p> Study sequence: {{study.structure.sequence}} </p>
        </div>

        {{exp-player
              experiment=study
              session=response
              pastSessions=pastResponses
              saveHandler=(action "saveResponse")
              frameIndex=0
              fullScreenElementId="expContainer"
          }}
    {{/if}}
</div>